<div class="container" ng-controller="DashController as vm">
    <div class="row">
        <menu style="padding:0;"></menu>
    </div>
    <div class="row">
        <div class="section col-md-6">
            <device-options></device-options>
            <device-data></device-data>
        </div>
        <div class="section col-md-6">
            <div map-lazy-load="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAtiyHsNbxqcca-35Tb64s3-uN-hirg0rg">
                <!-- <ng-map id="mainMap" center="[8.271065,-62.736798]" zoom="10" > -->
                <ng-map id="mainMap" center="[0,0]" zoom="10">
                    <marker ng-repeat="p in vm.devices track by $index" position="{{p.position}}" title="{{p.nombre}}" icon="{{p.icon}}" animation="{{p.animation}}" on-click="vm.onClickDevice($index, p)"></marker>
                    <!-- <marker position="current"></marker> -->
                </ng-map>
            </div>
        </div>
    </div>
</div>