<div class="container" ng-controller="LoginController">
	<!--  Product User List -->
    
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-md-offset-4">
				<div class="formulario">
						<form name="loginForm" ng-submit="loginForm.$valid" novalidate>
						<h4 class="text-center">Please Log in</h4>
						<fieldset class="form-group" >
							<input type="text" ng-model="username" class="form-control" placeholder="@username"title="Username" required>
						</fieldset>
						<fieldset class="form-group" >
							<input type="password" ng-model="password" class="form-control" placeholder="******"title="Password" required>
						</fieldset>
						<fieldset class="form-group" >
							<input type="submit" class="btn btn-primary" style="border-color:black;background-color:#D32F2F" ng-click="login()" value="Log in">
						</fieldset>
					</form>
				</div>
			</div>
		</div>	
	</div>
</div>
	