<div ng-if="vm.option==0"><!-- HOME -->
    <h1 align="center">Home</h1>
    <div ng-if="!vm.selected_device">
        <!-- NO HAY DISPOSITIVO SELECCIONADO, MOSTRAR INSTRUCCIONES -->
        <h3 class="text-center">Seleccione un dispositivo en el mapa para ver sus datos</h3>
    </div>
    <div align="center" class="row" ng-if="vm.selected_device">
        <!-- DISPOSITIVO SELECCIONADO, MOSTRAR INFORMACION DEL DISPOSITIVO -->
        <dl class="dl-horizontal col-md-6">
            <dt>Nombre:</dt>
            <dd>{{vm.selected_device.nombre}}</dd>
            <dt>Telefono:</dt>
            <dd>{{vm.selected_device.telefono}}</dd>
        </dl>
        <div class="col-md-6" ng-if="vm.selected_device">
            <!-- && !vm.selected_device.online"> -->
            <button type="button" ng-if="!vm.selected_device.status" class="btn btn-danger btn-lg" ng-click="vm.panico()">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                <br>
                <small>Pánico</small>
            </button>
            <button type="button" ng-if="vm.selected_device.status" class="btn btn-info btn-lg" ng-click="vm.panico()">
                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                <br>
                <small>Todo bien</small>
            </button>
        </div>
        <div class="col-md-12">
            <small>Ubicación: [{{vm.selected_device.latitud}},{{vm.selected_device.longitud}}]</small>
        </div>
    </div>
</div>
<div ng-if="vm.option==1"><!-- LLAMADAS -->
    <h1 align="center">Llamadas</h1>
    <div class="activity-feed" style="height: 150px; overflow-y: scroll;">
        <div class="feed-item" ng-repeat="llamada in vm.llamadas | orderBy:'-time'">
            <div class="row">
                <div class="col-md-2 icon-view">
                    <span>
                        <img ng-if="llamada.type=='SALIDA'" ng-src="./src/madex1.png" alt="" width="32px" height="32px">
                        <img ng-if="llamada.type=='ENTRADA'" ng-src="./src/receivedx1.png" alt="" width="32px" height="32px">
                        <img ng-if="llamada.type=='PERDIDA'" ng-src="./src/missedx1.png" alt="" width="32px" height="32px">
                    </span>
                </div>
                <div class="col-md-10">
                    <span class="date">{{llamada.time | date:'medium'}}
                    </span></br>
                    <span class="text">{{llamada.event}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.option==2"><!-- MENSAJES -->
    <h1 align="center">Mensajes</h1>
    <div class="activity-feed" style="height: 150px; overflow-y: scroll;">
        <div class="mensaje-item" ng-repeat="conversacion in vm.mensajes | orderBy:'-time' | groupBy: 'num' ">
            <a href="" ng-click="vm.openMessage(conversacion)">
                <div class="row" ng-repeat="mensaje in conversacion" ng-show="$last">
                    <div class="col-md-2" align="center">
                        <img ng-src="./src/M-icon.png" alt="" width="32px" height="32px">
                    </div>
                    <div class="col-md-10">
                        <span class="datesms">{{mensaje.time | date:'medium'}}</span>
                        <span class="remitname"><strong>{{mensaje.num}}</strong></span>
                        </br>
                        <span class="previewsms">{{mensaje.sms | limitTo:40 }} ..<small style="color:blue">ver más</small></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div ng-if="vm.option==3"><!-- FOTOS -->
    <h1 align="center">Fotos</h1>
    <div class="activity-feed" style="height: 150px; overflow-y: scroll;">
        <div ng-click="vm.showPic(picture)" class="feed-item" ng-repeat="picture in vm.pictures | orderBy:'-time'">
            <div ng-if="picture.type=='PICTURE'" class="row">
                <div class="col-md-2 icon-view">
                    <span>
                        <img ng-src="./src/cam-icon.png" alt="" width="32px" height="32px">
                    </span>
                </div>
                <div class="col-md-10">
                    <span class="date">{{picture.time | date:'medium'}}
                    </span></br>
                    <span class="text">{{picture.event}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.option==4"><!-- NOTIFICACIONES -->
    <h1 align="center">Notificaciones</h1>
    <div class="activity-feed" style="height: 150px; overflow-y: scroll;">
        <div class="feed-item" ng-repeat="activity in vm.activities | orderBy:'-time'">
            <div class="row">
                <div class="col-md-2 icon-view">
                    <span>
                        <img ng-src="./src/exclamation-mark.jpg" alt="" width="32px" height="32px">
                    </span>
                </div>
                <div class="col-md-10">
                    <span class="date">{{activity.time | date:'medium'}}
                    </span></br>
                    <span class="text">{{activity.event}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="vm.option==5"><!-- CONTACTOS -->
    <h1 align="center">Contactos</h1>
    <div class="activity-feed" style="height: 150px; overflow-y: scroll;">
        <div class="feed-item" ng-repeat="contacto in vm.contactos | orderBy:'nombre'">
            <div class="row">
                <div class="col-md-2 icon-view">
                    <span>
                        <img ng-src="./src/contact.png" alt="" width="32px" height="32px">
                    </span>
                </div>
                <div class="col-md-10">
                    <span class="date">{{contacto.nombre}}
                    </span></br>
                    <span class="text">{{contacto.telefono}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
