<div class="col-md-12 options">
    <ul class="nav nav-pills">
        <li ng-repeat="option in vm.options" ng-click="vm.setOption($index, option); vm.req_device(vm.selected_device.token)" role="presentation">
            <button type="button" ng-disabled="!vm.selected_device && $index!==0" class="btn btn-default btn-lg">
                <span class="{{option.class}}" aria-hidden="true"></span>
                <br><small>{{option.name}}</small>
            </button>
            <div ng-if="option.arrow" class="arrow-down"></div>
        </li>
    </ul>
</div>