@import url(http://fonts.googleapis.com/css?family=Open+Sans);
/* apply a natural box layout model to all elements, but allowing components to change */
h2{
  color:white;
}
.box {background-color: #F44336}
.table{background-color: white}
.box .dash {
  height:450px;
  border-color:red;
}
.box .dash-min {
  height:250px;
  border-color:red;
}
.activity-feed {
  border: 2px solid #B6B6B6;
  width: auto; 
  height: 350px; 
  overflow-y: scroll; 
  overflow-x: hidden;
  background-color: #d8d8d8;
}
#panic {
  background-color: red;
  height:50px;
}


.activity-feed .feed-item {
  position: relative;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-top:20px;
  border-bottom: 2px solid #B6B6B6;
  background-color:white;

}
#mainMap{width:auto;
height:414px;}
.icon-view{
  margin-left:0px;
  padding-left: 30px;
}
.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #212121;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item .text {
  position: relative;
  top: -3px;
  color:#727272
}
.logo-user{

    background-color: aqua;
    width: 45px;
    height: 45px;
    display: block;
    border-radius: 66%;
    margin-left: 25%;
    margin-top: -40%;
}
.logo-user h3 {
    padding-top: 19%;
    padding-left: 12%;
}
.activity-feed .mensaje-item {
  position: relative;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-top:20px;
  border-bottom: 2px solid #B6B6B6;
  background-color:white;
}
.datesms {
    float: right;
    margin-top: -10%;
    color: #f44336; 
    font-size: smaller;
    font-style: italic;
    /*margin-right: -11%;*/
}
.remitname{
  font-size: 1.5rem;
    margin-top: 5%;
    padding-top: 6%;
    color:black;
}
.previewsms{
  color: #bbb8b8;
}
#map_wrapper {
    height: 400px;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
.activity-feed .feed-item .text1 {
      font-size: 2.5rem;
}
.activity-feed .feed-item .text3 {
     font-size: 4rem;
    color: gray;
    margin-top: 40%;
}
.dash-min .logo-user h3 {
    padding-top: 19%;
    padding-left: 12%;
}
.dash-min .logo-user{

    background-color: green;
    width: 60px;
    height: 60px;
    display: block;
    border-radius: 66%;
    margin-left: 29%;
    margin-top: -21%;
}
.modal  h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
  color:black;
}
