.navbar-inverse {
    background-color: #212121;
}

.navbar-inverse .navbar-nav>li>a {
    color: #D32F2F;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: white;
    transition-duration: 0.5s;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;
}

#logo {
    width: 20%;
    height: auto;
    margin-top: -3%
}

body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-brand {
    margin-top: 15px;
}


/*@media(min-width:768px) {
    
    .navbar-fixed-top 
}*/
