.right-nav {
    background-color: #de3333;
    border-color: none!important;
    border: none!important;
    color: #757575;
    height: 70px;
}

.right-nav .navbar-form {
    width: auto;
    padding-top: 10px;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 364px;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.right-nav .navbar-brand {
    float: left;
    height: 50px;
    padding: 24px 15px;
    font-size: 3rem;
    line-height: 20px;
}

iframe {
    height: 500;
}

.logo img {
    height: 56px;
    width: 56px;
}

.logo {
    float: left;
    height: 50px;
    padding: 5px 15px;
    font-size: 18px;
    line-height: 20px;
}

.nav-pills .glyphicon {
    text-align: center;
    align-content: center;
    color: white;
}

/*.nav-pills li {
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}*/

.section.col-md-6 {
    background-color: #ecebeb;
    /*height: 700px;*/
    /*box-shadow: 10px 10px 20px #888888;*/
}

.section.col-md-6 .row .col-md-12 {
    padding: 0px;
    /*padding-left: 0px;*/
}

/*.section.col-md-6:nth-child(1) {
    z-index: 999999;
}*/

.options {
    background-color: #D32F2F;
}

ul.nav.nav-pills {
    /*background-color: #D32F2F;*/
    margin: auto;
    width: 100%;
    padding-left: 25px;
    display: block;
}

.nav-pills li {
    height: 90px;
    padding: 10px 0px;
    line-height: 1.4;
    text-align: center;
    background-color: #D32F2F;
    border: none!important;
    margin: 0px;
    width: 130px;
}

.nav-pills li button:hover {
    background-color: #de3333;
    color: white;
}

.nav-pills li button {
    background-color: #F44336;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
}

.nav-pills li button:active {
    background-color: #de3333;
    color: white;
}

.nav-pills li button:focus {
    background-color: #de3333;
    color: white;
}

.arrow-down {
    margin-left: 52px;
    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #de3333;
}

.nav-pills li button:active + .arrow-down {
    display: block;
}
