.ng-dirty.ng-valid {
    border-color: green;
}

.ng-dirty.ng-invalid {
    border-color: red;
}

.formulario {
    background-color: #ffffff;
    padding: 3% 6%;
    height: auto;
    width: 385px;
}

body {
    background-color: rgb(241, 241, 241);
}

.btn-primary {
    width: 100%;
}

textarea.form-control {
    height: 42px;
}
