<div class="modal-header">
<button type="button" class="close" ng-click="vm.modalreg.dismiss('cancel');">&times;</button>
    <h4 class="modal-title">Registro</h4>
</div>
<div class="modal-body">
    <label>Nuevo Registro:</label>
    <input type="text" ng-model="num">
    <button type="button" class="btn btn-default" ng-click="vm.addDevice(num)"><span class="glyphicon glyphicon-plus"></span></button>
    <hr>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Telefono</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tr ng-repeat="p in vm.devices track by $index">
            <td>{{ p.nombre }}</td>
            <td>{{ p.telefono }}</td>
            <td>
                <button type="button" class="close" ng-click="vm.delDevice(p)">&times;</button>
            </td>
        </tr>
    </table>
</div>
