<div class="modal-header">
    <button type="button" class="close" ng-click="vm.modalUsers.dismiss('cancel');">&times;</button>
    <h4 class="modal-title">Registro de Usuario</h4>
</div>
<div class="modal-body">
    <div style="height: 400px;" align="center">
        <input type="text" placeholder="Username" ng-model="vm.username"><br><br><br>
        <input type="password" placeholder="******" ng-model="vm.password"><br><br><br>
        <input type="text" placeholder="Nombre completo" ng-model="vm.full_name"><br><br><br>
        <button type="button" class="btn btn-default" ng-click="vm.regUser()"><span class="glyphicon glyphicon-plus">Crear Usuario</span></button>
    </div>
</div>
