<div class="modal-header">
    <button type="button" class="close" ng-click="vm.modalConversation.dismiss('cancel');">&times;</button>
    <h4 class="modal-title">{{vm.conversacion[0].num}}</h4>
</div>
<div class="modal-body">
    <div style="height: 400px; overflow-y: scroll;">
        <div class="col-md-12" ng-repeat="mensaje in vm.conversacion | orderBy:'-time'">
            <div ng-if="mensaje.type=='recibido'" style="width:50%">
                <blockquote>
                    <span class="previewsms"  style="font-size:14px; line-height:1.428">{{mensaje.sms}}</span>
                    <em><small>{{mensaje.time | date:'medium'}}</small></em>
                </blockquote>
            </div>
            <div ng-if="mensaje.type=='enviado'" style="width:50%; float:right">
                <blockquote class="blockquote-reverse">
                    <span class="previewsms" style="font-size:14px; line-height:1.428">{{mensaje.sms}}</span>
                    <em><small>{{mensaje.time | date:'medium'}}</small></em>
                </blockquote>
            </div>
        </div>
    </div>
</div>
