<div class="modal-header">
    <button type="button" class="close" ng-click="vm.modalPicture.dismiss('cancel');">&times;</button>
    <h4 class="modal-title">{{vm.picture.event}}</h4>
</div>
<div class="modal-body">
    <div style="height: 400px;" align="center">
        <img style="max-width:867px; max-height: 400px;" ng-src="{{vm.picture.src}}">
    </div>
</div>